<ion-view view-title="Escaner">
	<ion-content style="background: #e8ebf1;" class="padding">
		<div class="card">
			<div class="item">
				<button class="button button-block button-positive" ng-click="scanBarcode()">
					<i class="icon ion-qr-scanner"></i>
					Escanea ahora
				</button>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Codigos escaneados
			</div>
			<div class="item item-text-wrap">
				<ul class="list">
					<li class="item" ng-repeat="code in codes" >
						{{code}}
					</li>
				</ul>
			</div>
			<div ng-show="codes.length" class="item">
				<button class="button button-block button-positive" ng-click="sendCodes()">
					<i class="icon ion-paper-airplane"></i>
					Enviar
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
